# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS / editor cruft
.DS_Store
*.log
Thumbs.db

# Android (generated when running `flutter create .`)
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
